@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 80px;
  }

  body {
    @apply bg-bg-primary text-text-primary font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
